.container{
    margin: 10px;
    min-width: 300px;
}

.item{
    padding-bottom: 15px;
}

h4{
    color: #006699;
}

.badge{
    margin-left: 10px;
    margin-bottom: 5px;
    position: absolute;
    background: #e60073;
    text-align: center;
    border-radius: 5px;
    color:white;
    width: 15px;
    height: 15px;
    font-weight: bold;
    font-size: 10px;
    vertical-align: middle;
  }

  .logo{
      height: 24px;
      width: 24px;
  }

  .inline-block{
      display: inline-block;
      vertical-align: middle;
  }